doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/alerts.js")
    block extraHeader
  body
    #top-menu
      label.show-menu(for='show-menu') Pokaż menu
      input#show-menu(type='checkbox', role='button')
      if !user
        ul#menu
          li
            a(href='/') Strona główna
          li(style='float:right')
            a(href='/login') Zaloguj
          li(style='float:right')
            a(href='/register') Zarejestruj
      else
        ul#menu
          li
            a(href='/') Strona główna
          if user.admin_priv == 1
            li
              a(href='/admin_panel') Panel administratora
          li(style='float:right')
            a(href='/logout') Wyloguj
          li(style='float:right')
            a(href='/account') Moje konto
          li(style='float:right')
            a(href='/bookedHall') Moje wypożyczenia
    - if(flash_msg != '')
      script.
        Alert("!{flash_msg}")
    block content
  
  block script